.settings {
    flex: 1;
    position: relative;
    line-height: 40px;
    display: flex;
    align-items: center;
    height: 63.3px;
}
.xSquareIcon {
    width: 64px;
    position: relative;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
.settingsParent {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    width: 1096px;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}
.account {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 32px;
    display: flex;
    align-items: center;
}
.accountWrapper {
    align-self: stretch;
    border-radius: 8px;
    background-color: rgba(68, 136, 191, 0.16);
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
    cursor: pointer;
}
.accountContainer {
    align-self: stretch;
    border-radius: 8px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: rgba(0, 6, 38, 0.9);
}
.account2 {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accountFrame {
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #4c64d9;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    cursor: pointer;
    text-align: center;
    color: #4c64d9;
}
.instanceParent {
    /* position: absolute; */
    top: 96px;
    left: 0px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    width: 304px;
    height: 928px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 10px;
    font-size: 24px;
    color: #35408e;
}
.account3 {
    align-self: stretch;
    position: relative;
    font-size: 32px;
    line-height: 40px;
    color: #000;
}
.userId20221004AdminWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.fullName {
    flex: 1;
    position: relative;
    line-height: 28px;
    display: flex;
    align-items: center;
    height: 27px;
}
.unselect {
    position: relative;
    line-height: 24px;
}
.labButtons {
    border-radius: 16px;
    border: 1px solid rgba(0, 9, 51, 0.65);
    box-sizing: border-box;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    font-size: 16px;
    color: rgba(0, 9, 51, 0.65);
}
.label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 4px;
}
.text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.value {
    flex: 1;
    position: relative;
    line-height: 24px;
}
.state {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 16px;
}
.field {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 13, 77, 0.45);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 6, 38, 0.9);
}
.textInput {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.textInputParent {
    align-self: stretch;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
    color: rgba(0, 9, 51, 0.65);
}
.frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.field3 {
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 13, 77, 0.45);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.accept {
    position: relative;
    line-height: 16px;
}
.buttonReport {
    border-radius: 4px;
    background-color: #35408e;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px 8px;
}
.buttonReport1 {
    border-radius: 4px;
    border: 1px solid rgba(0, 9, 51, 0.65);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px 8px;
    color: rgba(0, 9, 51, 0.65);
}
.buttonReportParent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 16px 24px;
    gap: 8px;
    font-size: 14px;
    color: #fff;
}
.accountParent {
    position: absolute;
    top: 96px;
    left: 304px;
    background-color: #fff;
    width: 792px;
    height: 928px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 24px;
    box-sizing: border-box;
    gap: 32px;
    font-size: 20px;
    color: rgba(0, 6, 38, 0.9);
}
.settingsBox {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Inter;
}

